<ion-header>
  <ion-toolbar>
    <ion-title>
      Criadores
    </ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/home">Calendario</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="criador" id="criador-1">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3lkIBDLzJ3CVdxfRSQUXyr-15oJHF_cSEiw&s" alt="FOTO DO CRIADOR 1"> <br>
  <p>SOBRE O CRIADOR 1 => Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem reprehenderit porro aliquam. Facere, quam sunt modi magni fuga totam at voluptate tenetur quibusdam enim praesentium qui amet aspernatur vel in incidunt aperiam consequatur voluptates, dolore dolores ducimus veniam porro iure voluptatum. Tempora expedita tenetur, consequatur eaque magnam repellendus! Veniam, aut temporibus animi iusto tempore aliquid facilis accusantium neque obcaecati sit! Rerum labore laudantium fugiat libero quo, consequuntur illum veritatis temporibus exercitationem amet accusantium hic sapiente fugit enim tempora minus inventore quos esse voluptates facere necessitatibus quam nesciunt nihil? Dolores mollitia, esse quae placeat sint corporis doloribus architecto ab et nemo!</p>
 </div>
 <div class="criador hidden" id="criador-2">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3lkIBDLzJ3CVdxfRSQUXyr-15oJHF_cSEiw&s" alt="FOTO DO CRIADOR 2"> <br>
  <p>SOdwadswadswasdwadawdsdwadsadwadawdawdasdawing elit. Rem reprehenderit porro aliquam. Facere, quam sunt modi magni fuga totam at voluptate tenetur quibusdam enim praesentium qui amet aspernatur vel in incidunt aperiam consequatur voluptates, dolore dolores ducimus veniam porro iure voluptatum. Tempora expedita tenetur, consequatur eaque magnam repellendus! Veniam, aut temporibus animi iusto tempore aliquid facilis accusantium neque obcaecati sit! Rerum labore laudantium fugiat libero quo, consequuntur illum veritatis temporibus exercitationem amet accusantium hic sapiente fugit enim tempora minus inventore quos esse voluptates facere necessitatibus quam nesciunt nihil? Dolores mollitia, esse quae placeat sint corporis doloribus architecto ab et nemo!</p>
 </div>
 <div class="criador hidden" id="criador-3">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3lkIBDLzJ3CVdxfRSQUXyr-15oJHF_cSEiw&s" alt="FOTO DO CRIADOR 3"> <br>
  <p>SOBRE O CRIADOR 3 => Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem reprehenderit porro aliquam. Facere, quam sunt modi magni fuga totam at voluptate tenetur quibusdam enim praesentium qui amet aspernatur vel in incidunt aperiam consequatur voluptates, dolore dolores ducimus veniam porro iure voluptatum. Tempora expedita tenetur, consequatur eaque magnam repellendus! Veniam, aut temporibus animi iusto tempore aliquid facilis accusantium neque obcaecati sit! Rerum labore laudantium fugiat libero quo, consequuntur illum veritatis temporibus exercitationem amet accusantium hic sapiente fugit enim tempora minus inventore quos esse voluptates facere necessitatibus quam nesciunt nihil? Dolores mollitia, esse quae placeat sint corporis doloribus architecto ab et nemo!</p>
 </div>

</ion-content>




